body{
    background-color: #000;
    font-family: Circular,Helvetica,Arial,sans-serif;
    color: #FFFFFF;
}
.callback-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
}